<link href="/css/qianlushuyuan.css" rel="stylesheet">
<div class="m-midnav  hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<a href="/"><img src="/img/logo_big.jpg" title="{{site.title}}"></a>
			</div>
			<div class="col-md-4">
				<form class="form" role="form">
					<div class="form-group m-search">
						<div class="input-group ">
							<input class="form-control" type="text" ng-model="keyword" placeholder="搜索{{site.title}}课程、视频">
							<div type="button" ng-click="search()" class="input-group-addon btn btn-warning">搜索</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>
<div class="m-botnav rel">
	<div class="container">
		<ul>
			<li class="left rel"><a class="link f-f0 nowrp f-cf" href="#/" target="_self">首页</a></li>
			<li class="left rel"><a class="link f-f0 nowrp f-cf" href="#/vip" target="_self">VIP会员</a></li>
			<li class="left rel"><a class="link f-f0 nowrp f-cf" href="/a_108.do" target="_self">解密钱路学108讲</a></li>

			<li ng-hide="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" ng-click="modal_signin()">登录</a></li>
			<li ng-hide="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" href="#/signup" >注册</a></li>
			<li ng-show="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" ng-click="modal_vip()">成为VIP</a></li>
			<li ng-show="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" href="#/b/home">我的钱路</a></li>
		</ul>
	</div>
</div>
<div ui-view></div>
<div class="m-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="cr">
					钱路书院视频适用于《中华人民共和国著作权法》<br>
					未经书面允许，请勿转播<br>
				</p>
			</div>
			<div class="col-md-6">
				<h3 class="pull-right">专注传播世上赚钱策略(钱路)</h3>
			</div>
		</div>
	</div>
</div>