<div class="bg-wrap bg-login">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default panel-sign">
				<div class="panel-body">
					<h1 style="text-align: center;">注册</h1>
					<div ng-show="mdData.msg" class="alert alert-danger" role="alert">{{mdData.msg}}</div>
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-3 control-label">用户名</label>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-xs-9">
										<input type="text" class="form-control" ng-model="mdData.username" placeholder="用户名">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">邮箱</label>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-xs-9">
										<input type="email" class="form-control" ng-model="mdData.email" placeholder="邮箱">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3 control-label">密码</label>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-xs-9">
										<input type="password" class="form-control" ng-model="mdData.password" placeholder="密码">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-3 control-label">邀请码</label>
							<div class="col-sm-9">
								<div class="row">
									<div class="col-xs-9">
										<input type="text" class="form-control" ng-model="mdData.promcode" placeholder="邀请码">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<h5>注册即代表您已阅读并同意《使用协议》</h5>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button ng-click="signup_by_email_and_promcode()" class="btn btn-warning btn-lg btn-block">注册</button>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<h5>已有钱路书院账号？ <a ng-click="sign('signin')">登录</a> </h5>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>