<!DOCTYPE html>
<html lang="en" ng-app="mo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/icon.png">
<title>钱路书院</title>
<link href="http://www.qianlushuyuan.com/assets/css/mo.css" rel="stylesheet">

<!--[if !IE]> -->
<script type="text/javascript">
window.jQuery || document.write("<script src='http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
window.jQuery || document.write("<script src='http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

</head>
<body>
<link href="http://www.qianlushuyuan.com/css/qianlushuyuan.css" rel="stylesheet">
<div class="m-midnav  hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<a href="http://www.qianlushuyuan.com/"><img src="http://www.qianlushuyuan.com/img/logo_big.jpg" title="钱路书院"></a>
			</div>
			<div class="col-md-4">
				<form class="form" role="form">
					<div class="form-group m-search">
						<div class="input-group ">
							<input class="form-control" type="text" ng-model="keyword" placeholder="搜索钱路书院课程、视频">
							<div type="button" class="input-group-addon btn btn-warning">搜索</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>
<div class="m-botnav rel">
	<div class="container">
		<ul>
			<li class="left rel"><a class="link f-f0 nowrp f-cf" href="http://www.qianlushuyuan.com/#/" target="_self">首页</a></li>
			<li class="left rel"><a class="link f-f0 nowrp f-cf" href="http://www.qianlushuyuan.com/#/vip" target="_self">VIP会员</a></li>
			<li class="left rel"><a class="link f-f0 nowrp f-cf" href="http://www.qianlushuyuan.com/a_108.do" target="_self">解密钱路学108讲</a></li>

			<li ng-hide="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" ng-click="/#/signin">登陆</a></li>
			<li ng-hide="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" href="http://www.qianlushuyuan.com/#/signup" >注册</a></li>
			<li ng-show="user._id" class="right rel"><a class="link f-f0 nowrp f-cyellow" href="http://www.qianlushuyuan.com/#/b/home">我的钱路</a></li>
		</ul>
	</div>
</div>