<div class="page-header">
	<h1>我的账户<small><i class="icon-double-angle-right"></i> 会员记录</small></h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th><i class="icon-bookmark-empty bigger-110"></i> 收款方</th>
						<th>支付方</th>
						<th>支付项目</th>
						<th><i class="icon-flag bigger-110"> 描述</i></th>
						<th>原价</th>
						<th>优惠项目</th>
						<th>优惠码</th>
						<th>优惠金额</th>
						<th>实际应付</th>
						<th>当前状态</th>
						<th>创建日期</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in pays">
						<td>{{item.to_name}}</td>
						<td>{{item.from_name}}</td>
						<td>{{item.subject}}</td>
						<td>{{item.body}}</td>
						<td>{{item.fee_origin}}</td>
						<td>{{item.fee_ecoupon}}</td>
						<td>{{item.fee_ecoupon_code}}</td>
						<td>{{item.fee_back}}</td>
						<td>{{item.fee_actual}}</td>
						<td>{{item.status | filterPayStatus}}</td>
						<td>{{item.create_at | date : 'yyyy-MM-dd'}}</td>
						<td>
							<a class="btn btn-success btn-minier" href="{{item.location}}">支付</a>
							<a class="btn btn-warning btn-minier" ng-click="del_pay(item)">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /span -->
</div>
<div class="row">
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="timeline-container">
			<div class="timeline-label">
				<span class="label label-primary arrowed-in-right label-lg"><b>会员消费记录</b></span>
			</div>
			<div class="timeline-items">
				<div class="timeline-item clearfix">
					<div class="timeline-info">
						<img alt="Susan't Avatar" src="assets/avatars/avatar1.png">
						<span class="label label-info label-sm">16:22</span>
					</div>

					<div class="widget-box transparent">
						<div class="widget-header widget-header-small hidden"></div>

						<div class="widget-body">
							<div class="widget-main">
								成为注册会员
								<div class="pull-right"><i class="icon-time bigger-110"></i>2014-10-01</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="timeline-container">
			<div class="timeline-label">
				<span class="label label-success arrowed-in-right label-lg"><b>学习记录</b></span>
			</div>
			<div class="timeline-items">
				<div class="timeline-item clearfix">
					<div class="timeline-info"><i class="timeline-indicator icon-beer btn btn-inverse no-hover"></i></div>
					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h5 class="smaller">手机学习课程</h5>
							<span class="widget-toolbar"><i class="icon-time bigger-110"></i>2014-10-10</span>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="clearfix">
									<div class="pull-left">
										右侧是学习记录.
										<br>
										点击温习功课:
									</div>
									<div class="pull-right">
										<i class="icon-chevron-left blue bigger-110"></i>
										&nbsp;
										<img alt="Image 4" width="36" src="/assets/images/gallery/thumb-4.jpg">
										<img alt="Image 3" width="36" src="/assets/images/gallery/thumb-3.jpg">
										<img alt="Image 2" width="36" src="/assets/images/gallery/thumb-2.jpg">
										<img alt="Image 1" width="36" src="/assets/images/gallery/thumb-1.jpg">
										&nbsp;
										<i class="icon-chevron-right blue bigger-110"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
