<div class="page-header">
	<h1>数据管理<small><i class="icon-double-angle-right"></i> 推广管理 </small></h1>
</div>
<div class="row">
	<div class="col-xs-9">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead><tr><th>类型</th><th>项目</th><th>优惠码G-Code</th><th>折扣金额</th><th>用户名</th><th>有效期至</th><th></th></tr></thead>
				<tbody>
					<tr ng-repeat="item in pmt_gcodes">
						<td>{{item.type}}</td>
						<td>{{item.title}}</td>
						<td>{{item.gcode}}</td>
						<td>{{item.fee_back}}</td>
						<td>{{item.username}}</td>
						<td>{{item.deadline}}</td>
						<td><a ng-click="pmt_edit(item)">修改</a><a ng-click="pmt_del(item)">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /span -->
	<div class="col-xs-3">
		<div class="widget-box">
			<div class="widget-header"><h4>添加折扣码</h4></div>
			<div class="widget-body">
				<div class="widget-main">
					<div>
						<label>优惠类别</label>
						<select class="form-control" ng-model="pmt_type">
							<option ng-repeat="item in pmt_types" value="{{item}}">{{item}}</option>
						</select>
					</div>
					<div>
						<label>优惠项目</label>
						<select class="form-control"  ng-model="pmt_for_idx">
							<option ng-repeat="item in pmt_fors" value="{{$index}}">{{item.title}}</option>
						</select>
					</div>
					<div>
						<label for="form-field-select-3">折扣码</label>
						<input class="form-control" type="text" ng-model="pmt_gcode.gcode">
					</div>
					<div>
						<label for="form-field-select-3">折扣金额(带%号为比例)</label>
						<input class="form-control" type="text" ng-model="pmt_gcode.fee_back">
					</div>
					<div>
						<label for="form-field-select-3">推广用户名</label>
						<input class="form-control" type="text" ng-model="pmt_gcode.username">
					</div>
					<div>
						<label for="form-field-select-3">有效期至</label>
						<input class="form-control" type="date" ng-model="pmt_gcode.deadline">
					</div>
					<div class="form-actions center">
						<button ng-click="pmt_save()" class="btn btn-sm btn-success">提交<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div><!-- /row -->