<div class="page-header"><h1>我的课程<small><i class="fa fa-angle-double-right "></i> 正在学习</small></h1></div><!-- /.page-header -->
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div ng-if="user.alert" class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button><i class="icon-ok green"></i>
			{{user.alert}}
		</div>
		<div class="row-fluid">
			<div class="col-sm-6 col-md-4 col-lg-3 "  ng-repeat="item in myVideos">
				<div class="thumbnail infobox-green infobox-dark infobox-margin10">
					<div class="caption">
						<h3><a href="#/video/{{item._id}}" class="infobox-content" title="{{item.title}}">{{item.title | limitTo:10}}<br>
						<small class="infobox-content">学习人次：{{item.visits}}次</small></a></h3>
						<p class="infobox-content" >{{item.description | limitTo:18}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

