<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">欢迎成为钱路学院VIP会员</h4>
			</div>
			<div class="modal-body">
				<h5 class="lighter smaller">VIP会员可以学习钱路书院网站全部课程</h5>
				<div class="row">
					<div ng-repeat="vip in vips" class="col-xs-{{12/vips.length}} col-sm-{{12/vips.length}} pricing-box">
						<div class="widget-box">
							<div class="widget-body">
								<div class="widget-main center">
									<h3 class="bigger lighter">{{vip.title}}</h3>
									<h5>{{vip.subtitle}}</h5>
									<div class="space-10"></div>
									<h2 class="grey lighter smaller">
										<span class="blue">￥{{vip.fee_now}}</span>
									</h2>
									<div class="space-10"></div>
									<h5>原价: ￥{{vip.fee_origin}}</h5>
									<input ng-model="vip.gcode" ng-change="update_gcode(vip)" class="col-xs-12" type="text" placeholder="优惠码"><br><br>
									<a ng-click="pay_vip(vip)" class="btn btn-block btn-danger"><i class="icon-shopping-cart bigger-110"></i><span>立即购买</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>