<div class="page-header">
	<h1>我的账户<small><i class="icon-double-angle-right"></i>收入 &amp; 支出</small></h1>
</div>
<div class="infobox infobox-purple infobox-small infobox-dark">
	<div class="infobox-icon"><i class="icon-group"></i></div>
	<div class="infobox-data"><div class="infobox-content">会员级别</div><div class="infobox-content">{{user.role}}</div></div>
</div>
<div class="infobox infobox-green infobox-small infobox-dark">
	<div class="infobox-icon"><i class="icon-legal"></i></div>
	<div class="infobox-data"><div class="infobox-content">总收入</div><div class="infobox-content">{{totalIncome}}</div></div>
</div>
<div class="infobox infobox-blue infobox-small infobox-dark">
	<div class="infobox-icon"><i class="icon-shopping-cart"></i></div>
	<div class="infobox-data"><div class="infobox-content">总消费</div><div class="infobox-content">{{totalOutcome}}</div></div>
</div>
<div class="infobox infobox-grey infobox-small infobox-dark">
	<div class="infobox-icon"><i class="icon-bullhorn"></i></div>
	<div class="infobox-data"><div class="infobox-content">推广人数</div><div class="infobox-content">{{totalPromotion}}</div></div>
</div>
<div class="space-24"></div>
<div class="row">
	<div class="col-xs-12 col-sm-6 widget-container-span ui-sortable">
		<div class="widget-box">
			<div class="widget-header header-color-blue">
				<h5 class="bigger lighter"><i class="icon-table"></i>收入明细</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main no-padding">
					<table class="table table-striped table-bordered table-hover">
						<thead class="thin-border-bottom">
							<tr>
								<th><i class="icon-user"></i>推广会员</th>
								<th><i class="icon-fire"></i>日期</th>
								<th><i class="icon-book"></i>佣金</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="item in income">
								<td>{{item.username}} - [{{item.userrole}}]</td>
								<td>{{item.from | date: 'yyyy-MM-dd'}}</td>
								<td><span class="label label-warning arrowed-in">￥{{item.money}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>							
	<div class="col-xs-12 col-sm-6 widget-container-span ui-sortable">
		<div class="widget-box">
			<div class="widget-header header-color-pink">
				<h5 class="bigger lighter"><i class="icon-table"></i>消费明细</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main no-padding">
					<table class="table table-striped table-bordered table-hover">
						<thead class="thin-border-bottom">
							<tr>
								<th><i class="icon-user"></i>会员类型</th>
								<th><i class="icon-fire"></i>付款日期</th>
								<th><i class="icon-book"></i>消费金额</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="item in alipay">
								<td>{{item.subject}}</td>
								<td>{{item.notify_time}}</td>
								<td><span class="label label-warning arrowed-in">￥{{item.total_fee}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>							
</div>