<h3 class="row-fluid header smaller lighter purple">
	<span class="span7"> <i class="icon-list"></i>全部教程 </span><!-- /span -->
</h3>
<div ng-show="msg" class="alert alert-block alert-success">
	<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
	<i class="icon-ok green"></i>{{msg}} {{Date.now | date:"yyyy-MM-dd hh:mm:ss"}}
</div>
<div class="widget-box" style="opacity: 1; z-index: 0;">
	<div class="widget-header header-color-green">
		<h5>{{getCatTitle(curCat)}}</h5>
		<div class="widget-toolbar no-border">
			<button class="btn btn-xs bigger btn-yellow dropdown-toggle" data-toggle="dropdown">{{getCatTitle(curCat)}}<i class="icon-chevron-down icon-on-right"></i></button>
			<ul class="dropdown-menu dropdown-yellow pull-right dropdown-caret dropdown-close">
				<li><a ng-click="selCat('')">未分类</a></li>
				<li  ng-repeat="cat in cats | orderBy: 'key'"><a ng-click="selCat(cat.key)">{{getCatIndent(cat)}} {{cat.title}}</a></li>
			</ul>
		</div>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<div class="table-responsive">
				<table id="sample-table-1" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>课程</th>
							<th>分类</th>
							<th>优先级</th>
							<th>VIP</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in videos | filterVideos : curCat | orderBy: '-priority'">
							<td><input type="checkbox" ng-checked="item.selected" ng-click="toggleSelection(item)" /></td>
							<td>{{item.name}}</td>
							<td><label ng-repeat="cat in item.cats">[{{getCatTitle(cat)}}]</label></td>
							<td class="center"><label><input type="number" class="ace" ng-model="item.priority"><span class="lbl"></span></label></td>
							<td class="center"><label><input type="checkbox" class="ace" ng-model="item.properties.isvip"><span class="lbl"></span></label></td>
							<td class="center"><label><button class="btn btn-sm btn-success">重新分类</button></label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="widget-toolbox padding-8 clearfix">
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-sm btn-success dropdown-toggle">所选添加类别<span class="icon-caret-down icon-only"></span></button>
				<ul class="dropdown-menu dropdown-success">
					<li ng-repeat="cat in cats | orderBy: 'key' ">
						<a ng-click="setCat(cat)">{{getCatIndent(cat)}}</span> {{cat.title}}</a>
					</li>
				</ul>
			</div>	


			<button class="btn btn-xs btn-info" ng-click="reset()">
				<span class="bigger-110">撤销变更</span>
				<i class="icon-arrow-left icon-on-right"></i>
			</button>
			<button class="btn btn-xs btn-success pull-right" ng-click="submit()">
				<span class="bigger-110">提交所有变更</span>
				<i class="icon-arrow-right icon-on-right"></i>
			</button>
		</div>
	</div>
</div>
