<div class="page-header">
	<h1>系统管理<small><i class="icon-double-angle-right"></i>显示 &amp; 管理员</small></h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-sm-6">
				<div class="tabbable">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a><i class="green icon-home bigger-110"></i>分类管理</a></li>
					</ul>
					<div class="tab-content">
						<div class="active" class="tab-pane active">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 一级分类 </label>
									<div class="col-sm-10">
										<input type="text" ng-model="newCat" placeholder="一级分类" class="col-xs-11 col-sm-11">
										<span class="help-block">不要使用引号</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="form-field-2"> 二级分类 </label>
									<div class="col-sm-9">
										<textarea class="form-control" ng-model="newSub" placeholder="二级分类"></textarea>
										<span class="help-block">用逗号分隔多个二级分类</span>
									</div>
								</div>
								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="button" ng-click="saveCatInfo()"><i class="icon-ok bigger-110"></i>提交</button>
										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset" ng-click="reset()"><i class="icon-undo bigger-110"></i>重置</button>
									</div>
								</div>
								<hr>
								<p class="alert alert-info" ng-repeat="(item, detail) in site.cats">
									<button type="button" class="close" ng-click="removeCat(item)"><i class="icon-remove"></i></button>
									{{item}} - {{ site.cats[item].join(',') }}
								</p>
							</form>						
						</div>
					</div>
				</div>
			</div><!-- /span -->

			<div class="vspace-xs-6"></div>

			<div class="col-sm-6">
				<div class="tabbable tabs-right">
					<ul class="nav nav-tabs" id="myTab3">
						<li ng-class="{home:'active'}[curDicTab]"><a  ng-click="setDicTab('home')"><i class="pink icon-dashboard bigger-110"></i>第一屏</a></li>
						<li ng-class="{addr:'active'}[curDicTab]"><a  ng-click="setDicTab('addr')"><i class="blue icon-user bigger-110"></i>第二屏</a></li>
						<li ng-class="{service:'active'}[curDicTab]"><a  ng-click="setDicTab('service')"><i class="green icon-rocket bigger-110"></i>第三屏</a></li>
						<li ng-class="{require:'active'}[curDicTab]"><a  ng-click="setDicTab('require')"><i class="icon-book bigger-110"></i>第四屏</a></li>
						<li ng-class="{require:'active'}[curDicTab]"><a  ng-click="setDicTab('require')"><i class="icon-book bigger-110"></i>第五屏</a></li>
						<li ng-class="{require:'active'}[curDicTab]"><a  ng-click="setDicTab('require')"><i class="icon-book bigger-110"></i>第六屏</a></li>
						<li ng-class="{require:'active'}[curDicTab]"><a  ng-click="setDicTab('require')"><i class="icon-book bigger-110"></i>第七屏</a></li>
					</ul>
					<div class="tab-content">
						<div class="active'}[curDicTab]"  class="tab-pane">
							<div class="widget-container-span ui-sortable">
								<div class="widget-box transparent">
									<div class="widget-header">
										<h4 class="lighter">设定首页动画</h4>
									</div>
									<div class="widget-body">
										<div class="widget-main padding-6 no-padding-left no-padding-right">
											<div class="row">
												<div class="col-xs-6 col-md-3" ng-repeat="item in custs">
													<div class="thumbnail alert alert-info">
														<h5><i class="icon icon-user"></i>{{item.name}}</h5>
														<h6 ng-show="custShowMode > 0">{{item.contact}} {{item.tel}}</h6>
														<h6 ng-show="custShowMode > 1">{{item.area}}</h6>
														<h6 ng-show="custShowMode > 2">{{item.addr}}</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="space-24"></div>
									</div>
								</div>
							</div>
						</div>
						<div ng-class="{addr: 'active'}[curDicTab]"  class="tab-pane">
							<p>地址信息.</p>
						</div>

						<div ng-class="{service: 'active'}[curDicTab]" class="tab-pane">
							<p>服务内容.</p>
						</div>

						<div ng-class="{require: 'active'}[curDicTab]" class="tab-pane">
							<p>服务要求.</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /row -->


		<div class="hr hr-double hr-dotted hr18"></div>
	</div><!-- /.col -->
</div>						

